<!-- <div class="header" ng-controller="HeaderCtrl">
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fuild">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="home">S2SS</a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{ active: isActive('/home')}"><a ui-sref="home">Home</a></li>
					<li ng-class="{ active: isActive('/panel')}"><a ui-sref="panel">Panel</a></li>                
				</ul>
			</div>
		</div>
	</div>
</div> -->

<div class="header" ng-controller="HeaderCtrl">
	<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
		<i class="fa fa-bars fa-lg"></i>
	</md-button>
	<h2>
		<span>Toolbar with Disabled/Enabled Icon Buttons</span>
	</h2>
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Favorite">
	<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
</md-button>

<md-button class="md-icon-button" aria-label="More">
<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
</md-button>

<md-button class="md-raised" aria-label="Learn More" ui-sref="panel" ng-click="showTabDialog($event)">
Register
</md-button>

<md-button class="md-raised" aria-label="Learn More" ui-sref="home">
Home
</md-button>

<md-button class="md-raised" aria-label="Learn More" ui-sref="panel">
Panel
</md-button>

</div>
</md-toolbar>
</div>