<!-- <div class="header" ng-controller="HeaderCtrl">
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fuild">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="home">S2SS</a>
			</div>

			<div class="collapse navbar-collapse" id="js-navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{ active: isActive('/home')}"><a ui-sref="home">Home</a></li>
					<li ng-class="{ active: isActive('/panel')}"><a ui-sref="panel">Panel</a></li>                
				</ul>
			</div>
		</div>
	</div>
</div> -->

<div class="header" >
	<md-toolbar class="md-hue-2">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Settings" ng-click="toggleRight()">
		<i class="fa fa-bars fa-lg"></i>
	</md-button>
	<h2>
		<span>Toolbar with Disabled/Enabled Icon Buttons</span>
	</h2>
	<span flex></span>

	<md-menu>
	<md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open some menu">
	<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
</md-button>
<md-menu-content>
<md-menu-item>
<md-button ng-click="doSomething()" aria-label="Do something">
<md-icon md-menu-align-target md-svg-icon="call:phone"></md-icon>
Do Something
</md-button>
</md-menu-item>
</md-menu-content>
</md-menu>


<md-input-container>
<md-select ng-model="theme">
<label>Theme</label>
<md-option  ng-value="color" ng-repeat="color in ['indigo','red','deep-purple','light-blue','teal','orange','green','grey','cyan']" ng-click=changeTheme(color)>
{{color | uppercase}}
</md-option>
</md-select>
</md-input-container>
</div>
</md-toolbar>




<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left-menu">

<md-toolbar layout="row">
<div class="md-toolbar-tools">
	<h2>
		<span>Side Panel</span>
	</h2>
	<span flex></span>
	<md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="close()">
	<md-tooltip>Close Side Panel</md-tooltip>
	<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-remove fa-lg"></i></md-icon>
</md-button>
</div>
</md-toolbar> 



<md-toolbar class="md-tall md-hue-2">
<span flex></span>
<div layout="column" class="md-toolbar-tools-bottom inset">
	<md-icon class="md-avatar" md-svg-icon="avatars:svg-1"></md-icon>
	<span></span>
	<div>Prathuish G</div>
	<!-- <div>email@domainname.com</div> -->
</div>
</md-toolbar>


<md-content>



<md-list>
<md-subheader class="md-no-sticky">File</md-subheader>
<md-list-item>
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-file"></i></md-icon>
<p>File Name 1</p>
<div class="md-secondary"><i class="fa fa-remove"></i></div>
</md-list-item>

<md-list-item>
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-file "></i></md-icon>
<p>File Name 2</p>
<div class="md-secondary"><i class="fa fa-remove"></i></div>
</md-list-item>


<md-divider></md-divider>

<md-subheader class="md-no-sticky">Options</md-subheader>

<md-list-item role="link" md-ink-ripple>
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-key"></i></md-icon>
<p>Change Password</p>
</md-list-item>

<md-list-item role="link" md-ink-ripple>
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-sign-out"></i></md-icon>
<p>Sign Out</p>
</md-list-item>

<md-list-item role="link" md-ink-ripple ui-sref="panel">
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-sign-out"></i></md-icon>
<p>Home</p>
</md-list-item>

<md-list-item role="link" md-ink-ripple ui-sref="home">
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-sign-out"></i></md-icon>
<p>Panel</p>
</md-list-item>

<md-list-item md-ink-ripple ng-click="signup($event)">
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-sign-out"></i></md-icon>
<p>Sign Up</p>
</md-list-item>

<md-list-item md-ink-ripple ng-click="signin($event)">
<md-icon class="md-default-theme" class="material-icons"><i class="fa fa-sign-out"></i></md-icon>
<p>Sign In</p>
</md-list-item>

</md-list>

</md-content> 



</md-sidenav>


</div>