<md-toolbar class="md-accent">
<h2 class="md-toolbar-tools">
	<span>Tools</span>
</h2>
</md-toolbar>


<div flex layout-gt-sm="row" layout="column">
	<div layout="column" flex>
		<div flex layout-padding>
			<div class="line-nums"><span>1</span></div>			
			<textarea id="demo"></textarea>
		</div>
	</div>
	<div layout="column" flex>
		<div flex style="background-color: lightgray;">
			I'm below on mobile, and to the right on larger devices.
		</div>
	</div>
</div>


<!-- <div flex layout="column">
	<md-content layout="column" class="content-wrapper md-padding" flex layout-column id="content">
	<div flex>
		<h2>Home Content</h2>

		<ul>
			<li>Page Content goes here...</li>
			<li>and here...</li>
			<li>and here...</li>
		</ul>
	</div>
</md-content>
</div> -->
